<h-simple-grid [items]="entities" [name]="name" (evAddingItem)="onAddingItem($event)" (evSave)="onSave($event)" (evLoad)="onLoad($event)">
    <h-column [type]="EditorTypeEnum.Span" cellValueProperty="id" [cellValueType]="DataTypeEnum.Int" [isKeyProperty]="true">
        <h-header headerText="ID" [filterOperatorType]="FilterOperatorTypeEnum.NUMBER" [filterType]="EditorTypeEnum.TextBox"></h-header>
    </h-column>
    <h-column [type]="EditorTypeEnum.DatePicker" cellValueProperty="ngay" [cellValueType]="DataTypeEnum.Date">
        <h-header headerText="Ngay" [filterOperatorType]="FilterOperatorTypeEnum.NUMBER" [filterType]="EditorTypeEnum.DatePicker"></h-header>
    </h-column>
    <h-column [type]="EditorTypeEnum.TextBox" cellValueProperty="gio" [cellValueType]="DataTypeEnum.Text">
            <h-header headerText="Gio" [filterOperatorType]="FilterOperatorTypeEnum.NUMBER" [filterType]="EditorTypeEnum.TextBox"></h-header>
        </h-column>
    <h-column [type]="EditorTypeEnum.HComboBox" cellValueProperty="maNhanVienGiaoHang" [cellValueType]="DataTypeEnum.Int" itemsSourceName="maNhanVienSource"
        itemTextPath="tenNhanVien" itemValuePath="id">
        <h-header headerText="Nhan Vien" [filterOperatorType]="FilterOperatorTypeEnum.NUMBER" [filterType]="EditorTypeEnum.HComboBox"
            itemTextPath="tenNhanVien" itemValuePath="id"></h-header>
    </h-column>
    <h-column [type]="EditorTypeEnum.HNumber" cellValueProperty="tongDonHang" [cellValueType]="DataTypeEnum.Int">
        <h-header headerText="So Don Hang" [filterOperatorType]="FilterOperatorTypeEnum.NUMBER" [filterType]="EditorTypeEnum.HNumber"></h-header>
    </h-column>
    <h-column [type]="EditorTypeEnum.HNumber" cellValueProperty="tongSoLuongTheoDonHang" [cellValueType]="DataTypeEnum.Int">
        <h-header headerText="So luong theo Don Hang" [filterOperatorType]="FilterOperatorTypeEnum.NUMBER" [filterType]="EditorTypeEnum.HNumber"></h-header>
    </h-column>
    <h-column [type]="EditorTypeEnum.HNumber" cellValueProperty="tongSoLuongThucTe" [cellValueType]="DataTypeEnum.Int">
        <h-header headerText="So thuc te" [filterOperatorType]="FilterOperatorTypeEnum.NUMBER" [filterType]="EditorTypeEnum.HNumber"></h-header>
    </h-column>
</h-simple-grid>