<h-simple-grid [items]="entities" (evAddingItem)="onAddingItem($event)" (evSave)="onSave($event)" (evLoad)="onLoad($event)">
    <h-column [type]="EditorTypeEnum.Span" cellValueProperty="id" [cellValueType]="DataTypeEnum.Int" [isKeyProperty]="true">
        <h-header headerText="ID" [filterOperatorType]="FilterOperatorTypeEnum.NUMBER" [filterType]="EditorTypeEnum.TextBox"></h-header>
    </h-column>
    <h-column [type]="EditorTypeEnum.TextBox" cellValueProperty="maChuyenHangDonHang" [cellValueType]="DataTypeEnum.Int">
        <h-header headerText="Chuyen Hang Don Hang" [filterOperatorType]="FilterOperatorTypeEnum.NUMBER" [filterType]="EditorTypeEnum.TextBox"></h-header>
    </h-column>
    <h-column [type]="EditorTypeEnum.TextBox" cellValueProperty="maChiTietDonHang" [cellValueType]="DataTypeEnum.Int">
        <h-header headerText="Chi Tiet Don Hang" [filterOperatorType]="FilterOperatorTypeEnum.NUMBER" [filterType]="EditorTypeEnum.TextBox"></h-header>
    </h-column>
    <h-column [type]="EditorTypeEnum.HNumber" cellValueProperty="soLuong" [cellValueType]="DataTypeEnum.Int">
        <h-header headerText="So luong" [filterOperatorType]="FilterOperatorTypeEnum.NUMBER" [filterType]="EditorTypeEnum.HNumber"></h-header>
    </h-column>
    <h-column [type]="EditorTypeEnum.HNumber" cellValueProperty="soLuongTheoDonHang" [cellValueType]="DataTypeEnum.Int">
        <h-header headerText="So luong theo Don Hang" [filterOperatorType]="FilterOperatorTypeEnum.NUMBER" [filterType]="EditorTypeEnum.HNumber"></h-header>
    </h-column>
</h-simple-grid>