<h-simple-grid [items]="entities" [name]="'viewChiTietChuyenHangDonHang'" (evAddingItem)="onAddingItem($event)" (evSave)="onSave($event)" (evLoad)="onLoad($event)">
    <h-column [type]="EditorTypeEnum.Span" cellValueProperty="id" [cellValueType]="DataTypeEnum.Int" [isKeyProperty]="true">
        <h-header headerText="ID" [filterOperatorType]="FilterOperatorTypeEnum.NUMBER" [filterType]="EditorTypeEnum.TextBox"></h-header>
    </h-column>
    <!-- <h-column [type]="EditorTypeEnum.TextBox" cellValueProperty="maChuyenHangDonHang" [cellValueType]="DataTypeEnum.Int">
        <h-header headerText="Chuyen Hang Don Hang" [filterOperatorType]="FilterOperatorTypeEnum.NUMBER" [filterType]="EditorTypeEnum.TextBox"></h-header>
    </h-column> -->
    <h-column [type]="EditorTypeEnum.CustomVerticalCenter" [template]="chuyenHangDonHangTemplate" cellValueProperty="maChuyenHangDonHang" [cellValueType]="DataTypeEnum.Int">
        <h-header headerText="Chuyen Hang Don Hang" [filterOperatorType]="FilterOperatorTypeEnum.NUMBER" [filterType]="EditorTypeEnum.TextBox"></h-header>
    </h-column>
    <h-column [type]="EditorTypeEnum.CustomVerticalCenter" [template]="chiTietDonHangTemplate" [width]="260" cellValueProperty="maChiTietDonHang"
        [cellValueType]="DataTypeEnum.Int">
        <h-header headerText="Chi Tiet Don Hang" [filterOperatorType]="FilterOperatorTypeEnum.NUMBER" [filterType]="EditorTypeEnum.TextBox"></h-header>
    </h-column>
    <h-column [type]="EditorTypeEnum.HNumber" cellValueProperty="soLuong" [cellValueType]="DataTypeEnum.Int">
        <h-header headerText="So luong" [filterOperatorType]="FilterOperatorTypeEnum.NUMBER" [filterType]="EditorTypeEnum.HNumber"></h-header>
    </h-column>
    <h-column [type]="EditorTypeEnum.HNumber" cellValueProperty="soLuongTheoDonHang" [cellValueType]="DataTypeEnum.Int">
        <h-header headerText="So luong theo Don Hang" [filterOperatorType]="FilterOperatorTypeEnum.NUMBER" [filterType]="EditorTypeEnum.HNumber"></h-header>
    </h-column>
</h-simple-grid>

<ng-template #chiTietDonHangTemplate let-item let-columnSetting="columnSetting">
    <div style="display: flex">
        <div style="white-space: nowrap; overflow: hidden;" [style.width]="(columnSetting.width - 30)+'px'">{{item.chiTietDonHang?.displayText}}</div>
        <button style="width: 30px; border: 1px solid transparent; border-radius: 4px; background-color: #eaeaea; cursor: pointer"
            (click)="showChiTietDonHang(item, columnSetting.cellValueProperty);">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </div>
</ng-template>

<h-window #windowChiTietDonHang [name]="'windowChiTietDonHangOfChiTietChuyenHangDonHang'" [visible]="false" [hasOkButton]="true" [hasCancelButton]="true" [hasCloseButton]="false" (evOk)="selectChiTietDonHang(windowChiTietDonHang);"
    [width]="500" [height]="200">
    <app-chi-tiet-don-hang #chiTietDonHang [name]="'viewChiTietDonHangOfChiTietChuyenHangDonHang'"></app-chi-tiet-don-hang>
</h-window>

<ng-template #chuyenHangDonHangTemplate let-item let-columnSetting="columnSetting">
    <div style="display: flex">
        <div style="white-space: nowrap; overflow: hidden;" [style.width]="(columnSetting.width - 30)+'px'">{{item.chuyenHangDonHang?.displayText}}</div>
        <button style="width: 30px; border: 1px solid transparent; border-radius: 4px; background-color: #eaeaea; cursor: pointer"
            (click)="showChuyenHangDonHang(item, columnSetting.cellValueProperty);">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </div>
</ng-template>

<h-window #windowChuyenHangDonHang [name]="'windowChuyenHangDonHangOfChiTietChuyenHangDonHang'" [visible]="false" [hasOkButton]="true" [hasCancelButton]="true" [hasCloseButton]="false" (evOk)="selectChuyenHangDonHang(windowChuyenHangDonHang);"
    [width]="500" [height]="200">
    <app-chuyen-hang-don-hang #chuyenHangDonHang [name]="'viewChuyenHangDonHangOfChiTietChuyenHangDonHang'"></app-chuyen-hang-don-hang>
</h-window>