<h-simple-grid [items]="entities" [gridName]="'viewChiPhi'" (evAddingItem)="onAddingItem($event)" (evSave)="onSave($event)" (evLoad)="onLoad($event)">
    <h-column [type]="EditorTypeEnum.Span" cellValueProperty="id" [cellValueType]="DataTypeEnum.Int" [isKeyProperty]="true">
        <h-header headerText="ID" [filterOperatorType]="FilterOperatorTypeEnum.NUMBER" [filterType]="EditorTypeEnum.TextBox"></h-header>
    </h-column>
    <h-column [type]="EditorTypeEnum.DatePicker" cellValueProperty="ngay" [cellValueType]="DataTypeEnum.Date">
        <h-header headerText="Ngay" [filterOperatorType]="FilterOperatorTypeEnum.NUMBER" [filterType]="EditorTypeEnum.DatePicker"></h-header>
    </h-column>
    <h-column [type]="EditorTypeEnum.HComboBox" cellValueProperty="maLoaiChiPhi" [cellValueType]="DataTypeEnum.Int" itemsSourceName="maLoaiChiPhiSource"
        itemTextPath="tenLoaiChiPhi" itemValuePath="id">
        <h-header headerText="Loai chi phi" [filterOperatorType]="FilterOperatorTypeEnum.NUMBER" [filterType]="EditorTypeEnum.HComboBox"
            itemTextPath="tenLoaiChiPhi" itemValuePath="id"></h-header>
    </h-column>
    <h-column [type]="EditorTypeEnum.HComboBox" cellValueProperty="maNhanVienGiaoHang" [cellValueType]="DataTypeEnum.Int" [defaultValue]="1"
        itemsSourceName="maNhanVienGiaoHangSource" itemTextPath="tenNhanVien" itemValuePath="id">
        <h-header headerText="Nhan vien" [filterOperatorType]="FilterOperatorTypeEnum.NUMBER" [filterType]="EditorTypeEnum.HComboBox"
            itemTextPath="tenNhanVien" itemValuePath="id"></h-header>
    </h-column>
    <h-column [type]="EditorTypeEnum.HNumber" cellValueProperty="soTien" [cellValueType]="DataTypeEnum.Int">
        <h-header headerText="So tien" [filterOperatorType]="FilterOperatorTypeEnum.NUMBER" [filterType]="EditorTypeEnum.HNumber"></h-header>
    </h-column>
    <h-column [type]="EditorTypeEnum.TextBox" cellValueProperty="ghiChu" [cellValueType]="DataTypeEnum.String">
        <h-header headerText="Ghi chu" [filterOperatorType]="FilterOperatorTypeEnum.TEXT" [filterType]="EditorTypeEnum.TextBox"></h-header>
    </h-column>
</h-simple-grid>